In [1]:
import pandas as pd
import numpy as np

In [2]:
# What are vectorized operations
a = np.array([1,2,3,4])
a * 4

array([ 4,  8, 12, 16])

In [8]:
# problem in vectorized opertions in vanilla python
s = ['cat','mat',None,'rat']

[i.startswith('c') for i in s]

AttributeError: 'NoneType' object has no attribute 'startswith'

In [7]:
# How pandas solves this issue?

s = pd.Series(['cat','mat',None,'rat'])
# string accessor
s.str.startswith('c')

#fast and optimizid

0     True
1    False
2     None
3    False
dtype: object

In [9]:
# import titanic
df = pd.read_csv('titanic.csv')

In [11]:
df['Name']

0                                Braund, Mr. Owen Harris
1      Cumings, Mrs. John Bradley (Florence Briggs Th...
2                                 Heikkinen, Miss. Laina
3           Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                               Allen, Mr. William Henry
                             ...
886                                Montvila, Rev. Juozas
887                         Graham, Miss. Margaret Edith
888             Johnston, Miss. Catherine Helen "Carrie"
889                                Behr, Mr. Karl Howell
890                                  Dooley, Mr. Patrick
Name: Name, Length: 891, dtype: object

In [29]:
# common funct....
# lower/upper/capitalize/title
df['Name'].str.upper()
df['Name'].str.capitalize()
df['Name'].str.title() # har word ka first letter would be Captial
#len
df[df['Name'].str.len()==82] #passenger with highest len of name
#strip---> removes unnecessary spaces by trimming
"        Amit                ".strip()

df['Name'].str.strip()

0                                Braund, Mr. Owen Harris
1      Cumings, Mrs. John Bradley (Florence Briggs Th...
2                                 Heikkinen, Miss. Laina
3           Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                               Allen, Mr. William Henry
                             ...
886                                Montvila, Rev. Juozas
887                         Graham, Miss. Margaret Edith
888             Johnston, Miss. Catherine Helen "Carrie"
889                                Behr, Mr. Karl Howell
890                                  Dooley, Mr. Patrick
Name: Name, Length: 891, dtype: object

In [74]:
# split - > get
df['last_name']=df['Name'].str.split(',').str.get(0)

# n = no.of_splits 
# expand = True ; to convert into dataframes
df[['Title','first_name']]=df['Name'].str.split(',').str.get(1).str.strip().str.split(' ',n=1,expand=True)
# or 
# using apply() and lambda
#df['Name'].apply(lambda x:x.split(',')[0])

In [76]:
df['Title'].value_counts()

Mr.          517
Miss.        182
Mrs.         125
Master.       40
Dr.            7
Rev.           6
Col.           2
Major.         2
Mlle.          2
Ms.            1
Capt.          1
Jonkheer.      1
Lady.          1
Sir.           1
Mme.           1
the            1
Don.           1
Name: Title, dtype: int64

In [77]:
# replace
df['Title'].str.replace('Ms.','Miss.')
df['Title'].str.replace('Mile.','Miss.')

<ipython-input-77-a5c45c845728>:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Title'].str.replace('Ms.','Miss.')
<ipython-input-77-a5c45c845728>:3: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Title'].str.replace('Mile.','Miss.')

0        Mr.
1       Mrs.
2      Miss.
3       Mrs.
4        Mr.
       ...
886     Rev.
887    Miss.
888    Miss.
889      Mr.
890      Mr.
Name: Title, Length: 891, dtype: object

In [82]:
# filtering
# startswith/endswith
df[df['first_name'].str.endswith('A')]
# isdigit/isalpha...
df[df['first_name'].str.isdigit()]

Empty DataFrame
Columns: [PassengerId, Survived, Pclass, Name, Sex, Age, SibSp, Parch, Ticket, Fare, Cabin, Embarked, last_name, first_name, Title]
Index: []

In [87]:
# applying regex
# contains

# search john -> both case mean both captial or lower
df[df['first_name'].str.contains('john',case=False)]

# find lastnames with start and end char vowel
df[df['last_name'].str.contains('^[aeiouAEIOU].+[aeiouAEIOU]$')]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,last_name,first_name,Title
30,31,0,1,"Uruchurtu, Don. Manuel E",male,40.0,0,0,PC 17601,27.7208,NaN,C,Uruchurtu,Manuel E,Don.
49,50,0,3,"Arnold-Franchi, Mrs. Josef (Josefine Franchi)",female,18.0,1,0,349237,17.8000,NaN,S,Arnold-Franchi,Josef (Josefine Franchi),Mrs.
207,208,1,3,"Albimona, Mr. Nassef Cassem",male,26.0,0,0,2699,18.7875,NaN,C,Albimona,Nassef Cassem,Mr.
210,211,0,3,"Ali, Mr. Ahmed",male,24.0,0,0,SOTON/O.Q. 3101311,7.0500,NaN,S,Ali,Ahmed,Mr.
353,354,0,3,"Arnold-Franchi, Mr. Josef",male,25.0,1,0,349237,17.8000,NaN,S,Arnold-Franchi,Josef,Mr.
493,494,0,1,"Artagaveytia, Mr. Ramon",male,71.0,0,0,PC 17609,49.5042,NaN,C,Artagaveytia,Ramon,Mr.
518,519,1,2,"Angle, Mrs. William A (Florence ""Mary"" Agnes H...",female,36.0,1,0,226875,26.0000,NaN,S,Angle,"William A (Florence ""Mary"" Agnes Hughes)",Mrs.
784,785,0,3,"Ali, Mr. William",male,25.0,0,0,SOTON/O.Q. 3101312,7.0500,NaN,S,Ali,William,Mr.
840,841,0,3,"Alhomaki, Mr. Ilmari Rudolf",male,20.0,0,0,SOTON/O2 3101287,7.9250,NaN,S,Alhomaki,Ilmari Rudolf,Mr.

In [92]:
# slicing 
df['Name'].str[::-1]

0                                sirraH newO .rM ,dnuarB
1      )reyahT sggirB ecnerolF( yeldarB nhoJ .srM ,sg...
2                                 aniaL .ssiM ,nenikkieH
3           )leeP yaM yliL( htaeH seuqcaJ .srM ,ellertuF
4                               yrneH mailliW .rM ,nellA
                             ...
886                                sazouJ .veR ,alivtnoM
887                         htidE teragraM .ssiM ,maharG
888             "eirraC" neleH enirehtaC .ssiM ,notsnhoJ
889                                llewoH lraK .rM ,rheB
890                                  kcirtaP .rM ,yelooD
Name: Name, Length: 891, dtype: object